.vs/
.vscode/

RestModels/bin
RestModels/obj

/RestModels.EntityFramework/obj
/RestModels.EntityFramework/bin
/RestModels.sln.DotSettings.user

TestProject/obj
TestProject/bin
TestProject/TestProject.csproj.user

node_modules
/docs/docfx_project/_site
/docs/docfx_project/obj/.cache/build
